[submodule "glfw/glfw"]
	path = glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "tools/llvm-project"]
	path = tools/llvm-project
	url = https://github.com/llvm/llvm-project
[submodule "tools/jextract"]
	path = tools/jextract
	url = https://github.com/Brownshome/jextract
